# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs and debug files
scraper.log
debug/

# Ignore LinkedIn cookies file
data/linkedin_cookies.pkl
# Ignore seen jobs across machines
data/seen_jobs.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Misc
*.DS_Store  # Mac junk
*.log