# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs and debug files
scraper.log
debug/

# Ignore LinkedIn cookies file
board_scraper/linkedin_cookies.pkl


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Misc
*.DS_Store  # Mac junk
*.log